.gallery {
    padding: 50px 0;
    background-color: #7573f5;
}

.design {
    background-color: #512786;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px dashed #f73ebf;
}

.design h3 {
    margin-top: 0;
}