.gallery {
    padding: 100px 0;
    background-color: #8409f8;
    background-image: url(../images/blood.jpg);
    
}

.design {
    background-color: #8021fc;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #c339fa;
}

.design h3 {
    margin-top: 0;
}