.gallery {
    padding: 50px 0;
    background-color: #f57373;
}

.design {
    background-color: #991010;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px dashed #fa2f2f;
}

.design h3 {
    margin-top: 0;
}